@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .bl { color: blue;
        font-size: 110%;
    }
</style>
<div class="text-center">
    <h1 class="display-6"> <samp class="bl">Welcome</samp> to my first project</h1>
    <p>Start now <a href="/Lists/Index">price building</a>.</p>
</div>
