@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="font-weight-bold"> <span class="bl">Welcome</span> to my first project</h1>
    <p>Start now <a href="/Lists/Index">price building</a>.</p>
</div>
